{{outlet}}
{{#each model as |article|}}
  <article>
    <a href="{{article.href}}">
      <h2>{{article.title}}</h2>
      <p>
        <span class="release-date">{{article.timeAgo}}</span>
        {{#if article.hasAuthors}}
          - <span class="author">{{article.authorsText}}</span>
        {{/if}}
      </p>
    </a>
  </article>
{{/each}}
